*{
  font-family: "Fira Code", serif;
  font-size: medium;
  background-color: floralwhite;
  background-attachment: fixed;
  list-style-type: circle;
}

.logo > img {
  background-color: #F9AFFB;
  height: 85px;
}

.logo{
  background-color: #F9AFFB;
}

h1{
  background-color: #F9AFFB;
  font-size: 30px;
}
header{
  background-color: #F9AFFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 900px) {
  .logo > img {
    display: none;
  }
  header{
    margin: 0 0 0 -20%;
    justify-content: space-around;
  }
  h1{
    font-size: 25px;
  }
}

@media (max-width: 560px) {
  header{
    margin: 0 1% 0 0;
    padding: 0 5% 0 0;
    justify-content:flex-start;
  }
}

header a{
  color: white;
}

main{
  max-width: 1440px;
  margin: auto;
}

.nav {
  background-color: #F9AFFB;
  text-transform: uppercase;
  display: flex;
  #justify-content: space-between;
  align-items: center;
  width: 20%;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

a:hover{
  text-decoration: underline;
}

.nav_link{
  background-color: #F9AFFB;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 12px;
  margin: 15px;
}

.first_block{
  margin: 4%;
  height: 456px;
  overflow: hidden;
  border-radius: 40px;
  background-size: 80%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../img/gym.jpg) center;
}

.first_block:hover{
  box-shadow: 0px 10px 10px 10px #222222;
}

.first_block_description{
  background-color: rgb(0, 0, 0, 0);
  color: white;
  font-size: 26px;
  line-height: 34px;
  padding: 10% 5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (max-width: 900px)  {
  .first_block{
    overflow: auto;
  }
}

.second_block h2,ul,li{
  background-color: #F9AFFB;
}

.second_block{
  background-color: #F9AFFB;
  padding: 5px;
  color: white;
  margin-bottom: 2%;
  width: 100%;
}

h2{
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin: 5px 0;
}

h3{
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  margin: 5px 0;
}

h1, h2, h3{
  text-transform: uppercase;
  font-weight: 400;
}

.second_block_description{
  column-count: 2;
  column-gap: 25%;
}

li{
  padding: 3%;
  margin-left: 5%;
  /*width: 50%;*/
  margin-inside: 25%;
  font-size: 20px;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.third_block_description{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.third_block_description > figure{
  max-width: 320px;
}

figure img{
  border-radius: 40px;
  height: 75%;
}

@media (max-width: 900px) {
  figure img{
    display: none;
  }
  .third_block_description{
    display: block;
  }
  .third_block_description h3{
    margin-left: auto;
    margin-right: auto;
  }
  .third_block_description > figure{
    max-width: 100%;
  }
}

figure img:hover{
  box-shadow: 0px 5px 5px 5px #222222;
}

.contact_header{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.form_header{
  font-size: 18px;
  font-weight: bold;
}

.contacts_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  text-transform: uppercase;
  gap: 5%;
}

.fourth_block_description p{
  margin: 2px;
}

button{
  width: 25%;
  padding: 2% 0;
  border-radius: 4px;
}

button:hover{
  background: #F9AFFB;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

input{
  border: 1px solid #3C3C3C;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 1% 0;
  width: 90%;
}

.social-icons{
  display: flex;
  width: 10%;
  gap: 10px;
}

form{
  display: flex;
  flex-direction: column;
  margin: -5px;
}

aside {
  width: 70%;
  padding-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #c23ec9;
  font-style: italic;
  color: #c23ec9;
}

.map > map > div{
  border-radius: 40px;
}

@media screen and (max-width: 900px){
  .map {
    display: none;
  }
}
.map > map > div:hover{
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

footer{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F9AFFB;
  gap: 5%;
  padding: 1% 10%;
}

.footer_block
{
  color: white;
  background: #F9AFFB;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.footer_block > p{
  background: #F9AFFB;
  margin: 2px;
}

.footer_block a{
  color: white;
  background: #F9AFFB;
}

.footer_block .social-icons img{
  padding: 2px;
  background: #F9AFFB;
}

@media (max-width: 500px) {
  .footer_block > p
  {
    font-size: 10px;
  }
  .contact_href
  {
    font-size: 10px;
  }
}

.wrapper {
  margin: 2% auto 3%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  border: solid ;
  background-color: #F9AFFB;
  text-align: center;
}

.wrapper > div:nth-child(-n+6){
  background-color: #CB94E3;
  border-top: solid;
  font-weight: bold;
}

.wrapper > div:nth-child(5n+7){
  background-color: #CB94E3;
  font-weight: bold;
}

.wrapper > div:nth-child(n+13):nth-child(-n+16){
  background-color: #CAA4FD;
}

.wrapper > div:nth-child(n+8):nth-child(-n+11), .wrapper > div:nth-child(n+18):nth-child(-n+21){
  background-color: #F9AFFB;
}

.wrapper_heading{
  grid-column: span 5;
  background-color: #F9AFFB;
  text-align: center;
  align-self: center;
}

.wrapper div{
  border: 1px solid;
  padding: 10px;
}

@media (max-width: 560px) {
  .wrapper div{
    font-size: 10px;
    padding: 0 0 0 0;
  };
}
/*button{*/
/*  margin-top: 10px;*/
/*  margin-bottom: 10px;*/
/*}*/

.active_link{
  outline-style: dotted;
  padding: 3px;
}

.active_link:hover{
  text-decoration: none;
}
